<table *ngFor="let cardetail of cardetails">
     <tr>
          <td>Car Name :</td> <td>{{cardetail.carName}}</td>
     </tr>
     <tr>
          <td>Brand Name:</td><td>{{cardetail.brandName}}</td>
     </tr>
     <tr>
          <td>Color Name:</td><td>{{cardetail.colorName}}</td>
     </tr>
     <tr>
          <td>Daily Price:</td><td>{{cardetail.dailyPrice}}</td>
     </tr>
     <tr>
          <td>Model Year :</td><td>{{cardetail.modelYear}}</td>
     </tr>
     <tr>
          <td>Image Path:</td><td>{{cardetail.imagePath}} </td>
     </tr>
     <tr>
          <td>Date :</td><td>{{cardetail.date}}</td>
     </tr>
</table>

