<div class="container">
    <div class="row">
      <div *ngIf="car">
        <div class="card-body">
          <div class="row">
            <div id="brand" class="col-sm-3">
              <h4 class="card-title" style="text-align: center">Brand</h4>
              <p class="card-text" style="text-align: center">
                {{ car.brandName }}
              </p>
            </div>
            <div class="col-sm-2">
              <h4 class="card-title" style="text-align: center">Name</h4>
              <p class="card-text" style="text-align: center">
                {{ car.carName }}
              </p>
            </div>
            <div class="col-sm-2">
              <h4 class="card-title" style="text-align: center">Model</h4>
              <p class="card-text" style="text-align: center">
                {{ car.modelYear }}
              </p>
            </div>
            <div class="col-sm-2">
              <h4 class="card-title" style="text-align: center">Color</h4>
              <p class="card-text" style="text-align: center">
                {{ car.colorName }}
              </p>
            </div>
  
            <div class="col-sm-3">
              <h4 class="card-title" style="text-align: center">Daily Price</h4>
              <p class="card-text" style="text-align: center">
                {{ car.dailyPrice | currency: "₺" }}
              </p>
            </div>
          </div>
        </div>
        <div id="place" *ngFor="let carImage of carimages" class="card">
          <img
            id="btn"
            *ngIf="carImage.imagePath"
            [src]="defaultPath + carImage.imagePath"
            class="card-img-top"
            style="object-fit: cover"
            alt="..."
          />
        </div>
      </div>
    </div>
  </div>
  
