<ul class="list-group">
  <li
    (click)="setAllBrand()"
    [class]="getAllBrandClass()"
    routerLink="/cars"
  >
    Tüm Arabalar
  </li>
  <li
    (click)="setCurrentBrand(brand)"
    [class]="getCurrentBrandClass(brand)"
    routerLink="/cars/brand/{{ brand.brandId }}"
    *ngFor="let brand of brands"
  >
    {{ brand.brandName }}
  </li>
</ul>
<h5 *ngIf="currentBrand">{{ currentBrand.brandName }} seçtiniz</h5>
<img ng-src="C:/Users/zerya/source/repos/CarRental/WebAPI/wwwroot/Images/add7f78a-4060-41d5-b5ff-fc8d9747e678.jpg"/>
