<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-primary"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>

<table
  *ngIf="dataLoaded == true"
  class="table table-bordered table-condensed table-striped table-hover"
>
  <thead>
    <tr>
      <th>Car Id</th>
      <th>carName</th>
      <th>brandName</th>
      <th>colorName</th>
      <th>Daily Price</th>
      <th>modelYear</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let car of cars"
      (click)="setCurrentCarImage(car)"
      routerLink="/carimages/getimagesbycarId/{{ car.carId }}"
    >
      <td>{{ car.carId }}</td>
      <td>{{ car.carName }}</td>
      <th scope="row">{{ car.brandName }}</th>
      <td>{{ car.colorName }}</td>
      <td>{{ car.dailyPrice }}</td>
      <td>{{ car.modelYear }}</td>
    </tr>
  </tbody>
</table>
